/* Background */
body {
    
    background-image: url('solid_bg.jpg');
    font-family: 'Carme', sans-serif;
    height: 100%;
    min-height: 100vh;
}


/* Main Card */


.card-item {
    box-shadow: 2px 3px 3px #000;
    background: rgb(255, 212, 212);

}

.card-item .uk-card-body {
    min-height: 150px;
}



.card-item-input {
   border: 0;
   background: transparent;
   resize:none;
   overflow: hidden;
   font-size: 14px;
   color: #666;
   width: 90%;
   font-size: 20px;
}




/* Typography */
h1 {
    color: #fff;
    text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.842);
    font-size: 64px;
    margin-bottom: 48px;
  
}
/* Form */
form {
    background: rgba(245, 245, 245, 0.904);
}

/* Buttons */
.button-add {
    border-width: 2px;
    border-radius: 50%;
    padding: 5px 25px;
    color: #fff;
    border: 2px solid #fff;
 
    font-size: 64px;
   
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
    transition: .5s ease-in-out;
}


.button-add:hover {
   color: rgba(143, 137, 137, 0.431);
   border: 2px solid rgba(143, 137, 137, 0.431);
}

.button-close {
    border-radius: 50%;
    padding: 10px 15px;
    border: 0;
    font-size: 36px;
    background: rgba(251, 251, 251, 0.479);
    box-shadow: 2px 3px #000;
}

/* Delete Button */
.delete-button {
    width: 100%;
    color: rgb(255, 255, 255);
    font-size:  16px;
    background: rgb(218, 27, 2);
    border: 2px solid rgb(218, 27, 2);
    padding: 10px;

}





button:focus,   
button:hover {
    cursor: pointer;
    outline: none;
}

textarea:focus {
    outline: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Completed Background */
.bg-completed {
    background: rgb(211, 255, 211); 
}

.bg-completed .card-item-input {
    text-decoration: line-through;
}

.bg-editing {
    background: rgb(255, 243, 191)!important;
}

.bg-editing .card-item {
    background: rgb(255, 243, 191)!important;
}

.bg-updating {

    opacity: 0.7;
    filter:blur(3px);

}

label[for="complete"] {
    font-size: 16px;
    color: #000;
}


@keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

/* Note Categories */
.note-category {
    background: transparent;
    border: 2px solid rgba(143, 137, 137, 0.431);
    border-radius: 30px;
    margin: 0;
    font: inherit;
    display: inline-block;
    padding: 0 30px;
    line-height: 38px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s ease-in-out;
    

}

.category-active {
    border: 2px solid white;
}